export PROJECT_ID=$(gcloud config get-value project)
export GOOGLE_CLOUD_DEPLOY_LOCATION="us-central1"
export CLOUD_RUN_SERVICE_NAME="airflow-version-upgrade-agent"
export CLOUD_RUN_APP_NAME="airflow-version-upgrade-app"
export AGENT_PATH=<path-to-your-agent>
export VERTEX_SEARCH_LOCATION="global"
export VERTEX_APP_ID=<vertex app id>
export BIGQUERY_DATASET=airflow_migration_kb
export BIGQUERY_TABLE=migration_corpus