GOOGLE_GENAI_USE_VERTEXAI=True
GOOGLE_CLOUD_PROJECT="" 
GOOGLE_CLOUD_LOCATION="global" 
GEMINI_MODEL_NAME = "gemini-2.5-flash" 
IMAGE_GENERATION_MODEL = "imagen-3.0-generate-002"
GCP_STAGING_BUCKET=""
AS_APP= ""
DEFAULT_TEMPLATE_URI= ""

# Replace this with your actual DataStore ID
DATASTORE_ID = ""

# Research Tool & modle armor
ENABLE_RAG=false
ENABLE_DEEP_RESEARCH=true
LOCAL_DEV=true
MODEL_ARMOR_TEMPLATE_ID=""